server {
    # Le répertoire racine de Magento
    root {{ nginx_root }};

    # Ajouter index.php à la liste pour Magento
    index index.php index.html index.htm;

    server_name {{ nginx_server_name }} www.{{ nginx_server_name }};

    # Configuration des logs d'accès et d'erreurs spécifiques à Magento
    access_log /var/log/nginx/magento_access.log;
    error_log /var/log/nginx/magento_error.log;

    # Localisation de l'application
    location / {
        # Magento utilise l'index.php comme point d'entrée, même pour les requêtes de fichiers manquants
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # Optimisations pour les fichiers statiques (images, JS, CSS)
    location ~* \.(css|gif|ico|jpeg|jpg|js|png|svg|woff|woff2|eot|ttf|otf)$ {
        expires max;
        log_not_found off;
        access_log off;
    }

    # Désactiver les logs pour certains fichiers
    location = /favicon.ico { log_not_found off; access_log off; }
    location = /robots.txt  { log_not_found off; access_log off; allow all; }

    # Configuration pour Magento (fichiers d'installation)
    location /media/ {
        try_files $uri $uri/ =404;
    }
    location /static/ {
        expires off;
        add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # Redirection pour les fichiers PHP à passer à PHP-FPM
    location ~ \.php$ {
        try_files $uri =404;

        # Configuration FastCGI pour Magento
        include /etc/nginx/fastcgi_params;
        fastcgi_read_timeout 600s;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/run/php/php{{ php_ver }}-fpm.sock;

        # Séparation des chemins pour PHP-FPM
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
    }

    # Configuration pour empêcher l'accès aux fichiers critiques de Magento
    location ~ ^/(app|bin|lib|pkginfo|report|var)/ {
        deny all;
    }
    location ~ /\.(?!well-known).* {
        deny all;
    }

    # Désactiver l'accès aux fichiers sensibles
    location ~* \.(sql|tar|gz|zip)$ {
        deny all;
    }

    # Compression pour améliorer les performances
    gzip on;
    gzip_types text/css application/javascript application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript image/svg+xml;
    gzip_proxied any;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_min_length 1100;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
}
